*{
    background-color: pink;
}
div.pic{
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 100%;
    border: solid;
}
h1.title{
    text-align: center;
}

div.mainbox{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
div.para{
    border: solid;
    border-color: red;
}
div.para h1{
    text-align: center;
    font-size: 19px;
    font-family: monospace;
}